/* App.css */
body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.logo{
  width: 5%;
  margin-left: 30px;
  vertical-align: middle;
  padding: 0;
}


@media (max-width: 768px) {
  .logo{
    width: 7%;
    margin-left: 30px;
    vertical-align: middle;
    padding: 0;
  }
}

.title a {
  color: black;
  text-decoration: none;
  padding-left: 25px;
  vertical-align: middle;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px 0px;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .title {
  /* font-size: 24px; */
  font-size: 1.5em;
  font-weight: bold;
}

.title.short {
  display: none;
}

.mobile-menu .menu-items {
  display: none;
  flex-direction: column;
  background-color: #8c8c8c;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
}

.mobile-menu .menu-items.open {
  display: flex;
}

.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger-icon .line {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hamburger-icon .line.open:nth-child(1) {
  transform: rotate(-90deg) translateY(-8px) translateX(-8px);
  
}

.hamburger-icon .line.open:nth-child(2) {
  transform: rotate(-90deg) translateY(0px) translateX(0px);
}

.hamburger-icon .line.open:nth-child(3) {
  transform: rotate(-90deg) translateY(8px) translateX(8px);
}

@media (max-width: 768px) {
  .menu {
      position: relative;
  }

  .menu-items {
      display: none;
  }
}

.navbar .menu {
  display: flex;
  gap: 5px;
  padding-right: 10px;
}

.navbar .menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  /* font-size: 18px; */
  font-size: 1.0em;
  padding: 0.5vw 1.0vw;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navbar .menu a:hover {
  background-color: rgba(67, 61, 61, 0.2);
}

.main {
  text-align: center;
  padding: 90px 50px 40px 50px;
}

.carousel {
  padding-top: 15px;
  position: relative;
  max-width: 75%;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
  }
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.carousel-button .arrow {
  font-size: 20px;
  /* color: white; */
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.carousel-indicators .indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicators .indicator.active {
  background-color: #333;
}

.news {
  padding: 20px;
  background-color: #f9f9f9;
}

.news h2 {
  text-align: center;
}

.news-list {
  list-style-type: none;
  padding: 0;
  max-width: 70%;
  margin: auto;
}

.news-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.footer {
  background-color: #222;
  color: white;
  text-align: left;
  padding: 10px 40px;
  font-size: 14px;
  margin-top: auto;
}

.team-section {
  margin: 50px auto;
  text-align: center;
}

.principal-investigator, .graduate-students, .alumni {
  margin: 20px 0;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-details {
  margin: 10px 0;
}

.profile-links a {
  display: inline-block;
  margin: 5px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.profile-links a:hover {
  text-decoration: underline;
}

.graduate-students .student {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.graduate-students .student img {
  margin-bottom: 5px;
}

.alumni {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alumni a {
  margin: 5px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.alumni a:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0px;
  padding: 8px 12px;
  font-size: 14px;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.pagination-button.active {
  font-weight: bold;
  text-decoration: underline;
}

.bio {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.bio i {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.bio i:hover {
  transform: scale(1.2);
  color: #007bff;
}
